In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../data/PRSA_data_2010.1.1-2014.12.31.csv")

In [6]:
data.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

In [26]:
data.isnull().mean()*100

No       0.000000
year     0.000000
month    0.000000
day      0.000000
hour     0.000000
pm2.5    4.716594
DEWP     0.000000
TEMP     0.000000
PRES     0.000000
cbwd     0.000000
Iws      0.000000
Is       0.000000
Ir       0.000000
dtype: float64

In [7]:
data["year"].value_counts()

2012    8784
2014    8760
2013    8760
2011    8760
2010    8760
Name: year, dtype: int64

In [11]:
data["month"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [10]:
data["day"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [13]:
data["hour"].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [14]:
data["pm2.5"].describe()

count    41757.000000
mean        98.613215
std         92.050387
min          0.000000
25%         29.000000
50%         72.000000
75%        137.000000
max        994.000000
Name: pm2.5, dtype: float64

In [15]:
data["DEWP"].describe()

count    43824.000000
mean         1.817246
std         14.433440
min        -40.000000
25%        -10.000000
50%          2.000000
75%         15.000000
max         28.000000
Name: DEWP, dtype: float64

In [16]:
data["TEMP"].describe()

count    43824.000000
mean        12.448521
std         12.198613
min        -19.000000
25%          2.000000
50%         14.000000
75%         23.000000
max         42.000000
Name: TEMP, dtype: float64

In [17]:
data["PRES"].describe()

count    43824.000000
mean      1016.447654
std         10.268698
min        991.000000
25%       1008.000000
50%       1016.000000
75%       1025.000000
max       1046.000000
Name: PRES, dtype: float64

In [18]:
data["cbwd"].value_counts()

SE    15290
NW    14150
cv     9387
NE     4997
Name: cbwd, dtype: int64

In [21]:
data["Iws"].describe()

count    43824.000000
mean        23.889140
std         50.010635
min          0.450000
25%          1.790000
50%          5.370000
75%         21.910000
max        585.600000
Name: Iws, dtype: float64

In [23]:
data["Is"].describe()

count    43824.000000
mean         0.052734
std          0.760375
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         27.000000
Name: Is, dtype: float64

In [24]:
data["Ir"].describe()

count    43824.000000
mean         0.194916
std          1.415867
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         36.000000
Name: Ir, dtype: float64